{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}Adminstrador{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block contenido %}
<div class="container grup-container">
<div class="row">
    <div class="col-xs-3">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-1">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/usuario">NUEVO USUARIO</a></h3>
                                <p><a href="/administrador/usuario">INGRESAR</a></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-xs-3">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-2">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/paciente">NUEVO PACIENTE</a></h3>
                                <p><a href="/administrador/paciente">INGRESAR</a></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="col-xs-3">
        <!--<ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-3">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/examen">EXAMEN</a></h3>
                                <p><a href="/administrador/examen">INGRESAR</a></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>-->
    </div>

    <div class="col-xs-3">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-4">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-4"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/listaclinica">HISTORIA CLINICA</a></h3>
                                <p><a href="/administrador/listaclinica">INGRESAR</a></p><!-- fata url -->
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    
    <div class="col-xs-12 titulo">
        <P><strong> CLINICA CAYETANO HEREDIA</strong> </P>      
    </div>



    <div class="col-xs-3">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-5">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-5"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/receta">RECETA</a></h3>
                                <p><a href="/administrador/receta">INGRESAR</a></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

        <div class="col-xs-3">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-6">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-6"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/caja">CAJA</a></h3>
                                <p><a href="/administrador/caja">INGRESAR</a></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

        <div class="col-xs-3">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-7">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-7"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/citas">CITA</a></h3>
                                <p><a href="/administrador/citas">INGRESAR</a></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-xs-3">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-8">              
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-8"></div>
                            <div class="ch-info-back">
                                <h3 class="text-center"><a href="/administrador/egreso">EGRESO</a></h3>
                                <p>s<a href="/administrador/egreso">INGRESAR</a></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block js_end %}
{% endblock %}
