{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}Adminstrador{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/historia">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/cita">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class='row-fluid img-rounded'>
                    
            <div class="col-md-12">
                <div class="col-md-3"><button href=''class="btn btn-lg btn-block btn-info"><a href="/administrador/usuario">+ USUARIO</a> </button></div>
                <div class="col-md-3"><button href=''class="btn btn-lg btn-block btn-info"><a href="/administrador/paciente">+ PACIENTE</a> </button></div>
                <div class="col-md-3"><button href=''class="btn btn-lg btn-block btn-info"><a href="/administrador/examen">+ EXAMEN</a> </button></div>
                <div class="col-md-3"><button class="btn btn-lg btn-block btn-info"> <a href="/administrador/receta">+ RECETA</a></button></div>
                
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class='text-center'><strong>CLINICA CAYETANO HEREDIA</strong></h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="col-md-12">
                <div class="col-md-4"><button class="btn btn-lg btn-block btn-info"><a href="/administrador/caja">+ CAJA</a></button></div>
                <div class="col-md-4"><button class="btn btn-lg btn-block btn-info"><a href="/administrador/historia">HISTORIA CLINICA</a> </button></div>
                <div class="col-md-4"><button class="btn btn-lg btn-block btn-info"><a href="/administrador/cita">CITAS PROGRAMADAS</a></button></div>
            </div>
                
                
            
        </div>
    </div>
{% endblock %}
{% block js_end %}
{% endblock %}