{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Crear Nuevo Usuario{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/listaclinica">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/egreso">EGRESO</b></a></li>
            <li class='active'><a href="/administrador/citas">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container grup-container">
        <div>
            <div class="row-fluid">

                <div class="col-md-12">
                    <h2 class='text-center'><strong>Citas programadas para <button class='btn btn-danger' disabled='disabled'>HOY</button> y <button class='btn btn-primary ' disabled='disabled'>MAÑANA</button></strong></h2> 
                    <div class="row-fluid"> 
                        <div class="panel panel-1">
                            <table class="table table-bordered table-striped table-hover">
                                <thead class="panel panel-color">
                                    <tr>
                                        <th class="texto-blanco texto-sombra text-center">Historia Clinica</th>
                                        <th class="texto-blanco texto-sombra text-center">Nombres y Apellidos</th>
                                        <th class="texto-blanco texto-sombra text-center">Telefonos</th>
                                        <th class="texto-blanco texto-sombra text-center">Fecha</th>
                                        <th class="texto-blanco texto-sombra text-center">Dia</th>
                                        <th class="texto-blanco texto-sombra text-center">Modificar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for valor in cita %}
                                    <tr>

                                        <td>{{valor.paciente.nrohistoria}}</td>
                                        <td>{{valor.paciente}}</td>
                                        <td>{{valor.paciente.telefono}}</td>
                                        <td>{{valor.proximo}}</td>
                                        <td><a class='btn btn-danger btn-block btn-lg' disabled='disabled' href="#">HOY</a></td>
                                        <td>
                                            <a href="/administrador/modificarcita/{{valor.pk }}" class="btn btn-warning btn-lg active" role="button">Modificar</a>
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}
{% block js_end %}
{% endblock %}