{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Crear Nuevo Usuario{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/historia">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/cita">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container">
        <div style="padding-top:70px;">
            <div class="row-fluid">
            <div class="col-md-12">
                <div class="row-fluid"> 

                    <div class="panel panel-1">
                        <table class="table table-bordered table-striped table-hover">
                          
                          <thead class="panel panel-color">
                            <tr>
                                <th>Historia Clinica</th>
                                <th>Nombres y Apellidos</th>
                                <th>Telefonos</th>
                                <th>Fecha</th>
                                <th>Dia</th>
                                <th>Modificar</th>
                            </tr>
                          </thead>
                          <tbody>
                             {% for valor in cita %}
                                <tr>
                                   

                                        <td>{{valor.paciente.nrohistoria}}</td>
                                        <td>{{valor.paciente}}</td>
                                        <td>{{valor.paciente.telefono}}</td>
                                        <td>{{valor.proximo}}</td>
                                        <td><a class='btn btn-danger btn-block btn-lg' disabled='disabled' href="#">HOY</a></td>
                                        <td>
                                            <button class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target=".mod-modal-lg">MODIFICAR</button>
                                            <div class="modal mod-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4>Modificar la nueva Fecha:</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label  class="col-sm-2 control-label">DNI :</label>
                                                                        <div class="col-sm-2">
                                                                            <input type="text" class="form-control"  placeholder="34524324">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label  class="col-sm-2 control-label">NOMBRES :</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="text" class="form-control"  placeholder="Lucia Torres Campos">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label  class="col-sm-2 control-label">TELEFONO :</label>
                                                                        <div class="col-sm-2">
                                                                            <input type="text" class="form-control"  placeholder="34324523">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label  class="col-sm-2 control-label">FECHA DE CITA :</label>
                                                                        <div class="col-sm-3">
                                                                            <input type="text" class="form-control"  placeholder="12 NOVIEMBRE 2014">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </form>


                                                    
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button class='btn btn-danger'>Guardar</button><button class='btn btn-danger'>Cancelar</button>
                                                    </div> 
                                                </div>
                                            </div>
                                            </div>
                                        </td>  
                                   
                                </tr>
                             {% endfor %}
                         <!--
                            <tr>
                                <td>11231</td>
                                <td>lucia torrres Campos</td>
                                <td>#765752</td>
                                <td>12 de novimebre 2014</td>
                                <td><a class='btn btn-danger btn-block btn-lg'href="#">HOY</a></td>
                                <td><a class='btn btn-success btn-block btn-lg'href="#">MODIFICAR</a></td>  
                            </tr>
                            
                            <tr>
                                <td>11231</td>
                                <td>lucia torrres Campos</td>
                                <td>#765752</td>
                                <td>12 de novimebre 2014</td>
                                <td><a class='btn btn-primary btn-block btn-lg'href="#">MAÑANA</a></td>
                                <td>
                                    
                                </td>
                            </tr>
-->
                          </tbody>
                        </table>
                    </div>

                                            
                </div>

            </div>
            </div>
        </div>  
    </div>
{% endblock %}
{% block js_end %}
{% endblock %}