{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Crear Nuevo Usuario{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/listaclinica">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li class='active'><a href="/administrador/egreso">EGRESO</b></a></li>
            <li ><a href="/administrador/citas">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
<!--<h4 class='text-center titulosamarillo'><strong>ACA PODRA REGISTRAR TODOS LOS EGRESOS</strong></h4>-->
    <div class="container grup-container">

        <div class="row">

            <div class="col-xs-12">
               {% bootstrap_messages %}
                <div class="col-xs-6">
                    <img class='img-rounded imagen-egreso' src="{% static 'img/egreso1.jpg' %}">
                </div>
                <div class="col-xs-6">
                    <form class="form-horizontal " action=' ' method='POST'>
                        
                        {% csrf_token %}

                        {% bootstrap_form formulario  layout="horizontal" %}
                        <div class="col-xs-4 col-xs-offset-5">
                            <input class='btn btn-primary btn-lg' class="form-control" type='submit' value='GUARDAR NUEVO EGRESO'>
                        </div>

                        
                        
                    </form>
                </div> 
            </div>
        </div>
            
    </div>
{% endblock %}
{% block js_end %}
{% endblock %}