{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Administrador - Examen{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/themes/base/jquery.ui.all.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
{% endblock %}
{% block menu %}


    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
  
            <li ><a href="/administrador/listaclinica">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/citas">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container grup-container">
        <div class="row">
            <form id="searchform" class="ui-widget">
                <input id="tags" type="text" placeholder="Buscar Paciente por DNI o NOMBRE" required>
                <button type="submit" for="tags" >Buscar</button>
                
                  
            </form>
        </div>
        <div class="row">
            <h3 class="text-center"><strong>TITULO GENERAL CHEQUEO GINECOLOGICO</strong></h3>
            <div class="col-md-10 col-md-offset-1">
                <h3 class="text-left"><strong>DATOS GENERALES</strong></h3>
                <hr>
                <div class="col-md-5">
                    <div class="col-md-4">
                        
                        <p><strong>Nombres</strong></p>
                        <p><strong>Direccion</strong></p>
                        <p><strong>Edad</strong></p>
                        <p><strong>F.Nacimiento</strong></p>
                        <p><strong>Telefono</strong></p>
                    </div>
                    <div class="col-md-8">
                        <p>{{ examen.paciente.nombres }}</p>
                        <p>{{ examen.paciente.direccion }}</p>
                        <p>{{ examen.paciente.edad_actual }}</P>
                        <p>{{ examen.paciente.fechanacimiento }}</p>
                        <p>{{ examen.paciente.telefono }}</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-6">
                        <p><strong>N° H.C.</strong></p>
                        <p><strong>EDAD RUF</strong></p>
                        <p><strong>RUF</strong></p>
                        <p><strong>FECHA EMISION</strong></p>
                    </div>
                    <div class="col-md-6">
                        <P>{{ examen.paciente.nrohistoria }}</P>
                        <p>{% if examen.paciente.null_edadfur %}No recuerda{% else %}{{ examen.paciente.edadfur }}{% endif %}</p>
                        <p>{% if examen.paciente.null_ultimofur %}No recuerda{% else %}{{ examen.paciente.ultimofur }}{% endif %}
                        <p>{{ examen.fecha }}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-10 col-md-offset-1">
                <h3 class="text-left"><strong>ANTECEDENTES</strong></h3>
            
                <div class="col-md-2">
                    <P><strong>Personales</strong></P>
                    <P><strong>Familiares</strong></P>
                    <P><strong>Cancer</strong></P>
                    <P><strong>Otros</strong></P>
                </div>
                <div class="col-md-5">
                    <p>{% if antecedente.personales %}{{antecedente.personales}}{% else %}No se derectaron{% endif %}</p>
                    <p>{% if antecedente.familiares %}{{antecedente.familiares}}{% else %}No se derectaron{% endif %}</p>
                    <p>{% if antecedente.cancer %}{{antecedente.cancer}}{% else %}No se derectaron{% endif %}</p>
                    <p>{% if antecedente.otros %}{{antecedente.otros}}{% else %}No se derectaron{% endif %}</p>
                </div>
            </div>
        </div>
        <br>

        <div class="col-md-11 col-md-offset-1">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab">
                {% for paquete in examen.paquetes.all %}
                <li id='li_{{ paquete.pk }}' {% if forloop.counter = 1 %}class='active'{% endif %}><a href="#div_{{ paquete.pk }}" data-toggle="tab">{{ paquete.nombre }}</a></li>
                {% endfor %}
            </ul>
            <form class="form-horizontal" role="form" method='POST' action='' id='formulario_examen'>
            {% csrf_token %}
            <div class="tab-content">
                {% for paquete in examen.paquetes.all %}
                <div class="tab-pane {% if forloop.counter = 1 %}active in{% endif %}" id='div_{{ paquete.pk }}'>
                    <div class="row">
                        {% for examen in paquete.tiposexamen.all %}
                        <h4><strong>{{ examen.nombre }}</strong></h4>
                        <br>
                        {% for item in examen.obtener_items %}
                        {% if item.obtener_subitems %}
                        <div class="form-group">
                        <h5 class='col-xs-3 text-right'>{{ item.texto }}</h5>
                        </div>
                        {% for subitem in item.obtener_subitems %}
                        <div class="form-group">
                            <label  class="col-xs-4 control-label">{{ subitem.texto }}</label>
                            <div class="col-xs-8">
                                <div class='col-xs-6'>
                                    <input type='text' id='input_s_{{subitem.pk}}' class='tag_input' name='input_s_{{subitem.pk}}'/>
                                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_subitem_{{subitem.pk}}">Diagnostico</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="form-group">
                            <label  class="col-xs-3 control-label">{{ item.texto }}</label>
                            <div class="col-xs-9">
                                <div class='col-xs-6'>
                                    <input type='text' id='input_i_{{item.pk}}' class='tag_input' name='input_i_{{item.pk}}'/>
                                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_item_{{item.pk}}">Diagnostico</button>
                                </div>
                            </div>
                        </div>
                        {% endif%}
                        {% endfor %}<br>
                        <div class="" id='conclusiones_{{ examen.pk }}'>
                            <h3><strong>Conclusiones</strong></h3>
                            <div id='div_conclusion_{{ examen.pk }}_1'>
                                <input type="text" class="form-control conclusion_imp" placeholder="Ingresa la conclusion" id='conclusion_{{ examen.pk }}_1' name='conclusion_{{ examen.pk }}_1' onkeypress="return NuevaConclusion({{ examen.pk }}, event);">
                                <br>
                            </div>
                            <input type="hidden" val="0" id='num_conclusiones_{{ examen.pk }}' name='num_conclusiones_{{ examen.pk }}' value='1'>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="row" id='impresiones'>
                <h3><strong>IMPRESION DIAGNOSTICA</strong></h3>
                <div id='div_diagnostico_1'>
                    <input type="text" class="form-control imp_diag" placeholder="Ingresa el diagnostico" id='diagnostico_1' name='diagnostico_1'>
                    <br>
                </div>
                <input type="hidden" val="0" id='num_diagnosticos' name='num_diagnosticos' value='1'>
            </div>

            <div class="row">
                <h4><strong>Proxima cita</strong></h4>
                    <input type="text" class="form-control"  placeholder="" id='proxima_cita' required='required' name="proxima_cita">
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-1 col-md-offset-10">
                        <button class='btn btn-primary '>Imprimir</button>
                    </div>
                    <div class="col-md-1">
                        <button class='btn btn-danger '>cancelar</button>
                    </div>
                </div>
            </div>
            </form>
            <hr>
        </div>
    </div>
    <!-- Modals para la seleccion de las opciones -->
    {% for paquete in examen.paquetes.all %}
        {% for tipo_examen in paquete.tiposexamen.all %}
            {% for item in tipo_examen.obtener_items %}
                {% if item.obtener_subitems %}
                    {% for subitem in item.obtener_subitems %}
    <div class="modal fade bs-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true" id='modal_subitem_{{ subitem.pk }}'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Agrega o Selecciona un NUEVO DIAGNOSTICO</h4>
                </div>
                <div class="modal-body">
                    <div id='div_subitem_{{subitem.pk}}'>
                    {% for opcion in subitem.obtener_opciones %}
                        <label>
                        <input type="checkbox" name='opcion_subitem_{{ opcion.pk }}' value='{{ opcion.pk }}' class='check_s_{{subitem.pk}}'> {{ opcion.texto }}
                        </label>
                    {% endfor %}
                    </div>
                    <div class="input-append">
                        <input type="text" class="input-medium search-query" name="s" placeholder="Agrega un nuevo diagnostico" value="" id='add_opcion_subitem_{{subitem.pk}}'>
                        <button class='btn btn-success' class="add-on" onclick="AgregaOpcionSubItem('{{ subitem.pk }}', 'add_opcion_subitem_{{subitem.pk}}')"> + Nuevo Diagnostico</button>
                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button class='btn btn-danger' onclick='GuardaOpcionesS("{{subitem.pk}}")'>Guardar</button><button class='btn btn-danger'  data-dismiss="modal">Cancelar</button>
                </div> 
            </div>
        </div>
    </div>
                    {% endfor %}
                {% else %}
    <div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id='modal_item_{{ item.pk }}'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>Agrega o Selecciona un NUEVO DIAGNOSTICO</h4>
                </div>
                <div class="modal-body">
                    <div id='div_item_{{ item.pk }}'>
                    {% for opcion in item.obtener_opciones %}
                        <label>
                        <input type="checkbox" name='opcion_item_{{ opcion.pk }}' value='{{ opcion.pk }}' class='check_i_{{item.pk}}'> {{ opcion.texto }}
                        </label>
                    {% endfor %}
                    </div>
                    <div class="input-append">
                        <input type="text" class="input-medium search-query" name="s" placeholder="Agrega un nuevo diagnostico" value="" id='add_opcion_item_{{item.pk}}'>
                        <button class='btn btn-success' class="add-on" onclick="AgregaOpcionItem('{{ item.pk }}', 'add_opcion_item_{{item.pk}}')"> + Nuevo Diagnostico</button>
                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button class='btn btn-danger' onclick='GuardaOpcionesI("{{item.pk}}")'>Guardar</button><button class='btn btn-danger' data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

{% endblock %}
{% block js_end %}
<script type="text/javascript">
function GuardaOpcionesI(id_item){
    $('#input_i_'+id_item).tagsinput('removeAll');
    $('.check_i_'+id_item+':checked').each(function(){
        var texto_add = $(this).parent().text().trim();
        var id_add = $(this).val();
        $('#input_i_'+id_item).tagsinput('add', { "value": id_add , "text": texto_add  });
        $('#modal_item_'+id_item).modal('hide');
    });
}
function GuardaOpcionesS(id_subitem){
    $('#input_s_'+id_subitem).tagsinput('removeAll');
    $('.check_s_'+id_subitem+':checked').each(function(){
        console.log($(this).val());
        var texto_add = $(this).parent().text().trim();
        var id_add = $(this).val();
        $('#input_s_'+id_subitem).tagsinput('add', { "value": id_add , "text": texto_add  });
        $('#modal_subitem_'+id_subitem).modal('hide');
    });
}
function AgregaOpcionItem(id_item, id_input_add){
    if ($('#'+id_input_add).val()){
        $.ajax({
            url: '/agregar/item/examen/',
            async: false,
            dataType:'json',
            type:'POST',
            data: {
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                "texto":  $('#'+id_input_add).val(),
                "id_item": id_item
            },
            success: function(data) {
                $.each(data, function(i, val){
                    id_opcion = val['id'];
                    texto_opcion = val['texto'];
                    //$('#input_s_'+id_subitem).tagsinput('add', { "value": id_opcion , "text": texto_opcion  });
                    $('#div_item_'+id_item).append('<label><input name="opcion_item_'+id_item+'" type="checkbox" value="'+id_opcion+'" checked="checked" class="check_i_'+id_item+'"> '+texto_opcion+'</label>');
                    $('#'+id_input_add).val("");
                });
            }
        });
    }
}
function AgregaOpcionSubItem(id_subitem, id_input_add){
    $.ajax({
        url: '/agregar/subitem/examen/',
        async: false,
        dataType:'json',
        type:'POST',
        data: {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            "texto":  $('#'+id_input_add).val(),
            "id_subitem": id_subitem
        },
        success: function(data) {
            $.each(data, function(i, val){
                id_opcion = val['id'];
                texto_opcion = val['texto'];
                //$('#input_s_'+id_subitem).tagsinput('add', { "value": id_opcion , "text": texto_opcion  });
                $('#div_subitem_'+id_subitem).append('<label><input name="opcion_subitem_'+id_subitem+'" type="checkbox" value="'+id_opcion+'" checked="checked" class="check_s_'+id_subitem+'"> '+texto_opcion+'</label>');
                $('#'+id_input_add).val("");
            });
        }
    });
}

function NuevaConclusion(id_examen, e){
    if (e.which == 13 || e.keyCode == 13) {
        //code to execute here
        console.log("asda");
        if ($("#conclusion_"+id_examen+"_"+($("#num_conclusiones_"+id_examen).val())).val() != ""){
            var newTextBoxDiv = $(document.createElement('div'))
                 .attr("id", 'div_conclusion_' + id_examen+(parseInt($("#num_conclusiones_"+id_examen).val())+1).toString());
            name_new_conclusion = "conclusion_"+id_examen+"_"+(parseInt($("#num_conclusiones_"+id_examen).val())+1).toString();
            newTextBoxDiv.after().html('<input type="text" name="'+ name_new_conclusion + 
                  '" id="' + name_new_conclusion + '" value="" class="form-control conclusion_imp"'+
                  ' placeholder="Ingresa la conclusion" onkeypress="return NuevaConclusion('+id_examen+', event);"><br>');
         
            newTextBoxDiv.appendTo("#conclusiones_"+id_examen);

            $('#'+name_new_conclusion).focus();
            $("#num_conclusiones_"+id_examen).val(parseInt($("#num_conclusiones_"+id_examen).val())+1);
        }
        return false;
    }
    
}
 
$(document).ready(function(){
    var counter = 2;
    $('#formulario_examen').bind("keypress", function(e) {
        var code = e.keyCode || e.which; 
        if (code  == 13) {
            if ($('.imp_diag').is(":focus")){
                if ($("#diagnostico_"+(counter-1)).val() != ""){
                    var newTextBoxDiv = $(document.createElement('div'))
                         .attr("id", 'div_diagnostico_' + counter);
                 
                    newTextBoxDiv.after().html('<input type="text" name="diagnostico_' + counter + 
                          '" id="diagnostico_' + counter + '" value="" class="form-control imp_diag"'+
                          ' placeholder="Ingresa el diagnostico"'+'><br>');
                 
                    newTextBoxDiv.appendTo("#impresiones");

                    id_input="#diagnostico_"+counter;
                    $(id_input).focus();
                    $("#num_diagnosticos").val(counter);
                    counter++;
                }
            }
            e.preventDefault();
            return false;
        }
    });

    $(function() {
        $( "#proxima_cita" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
    });

    $('.tag_input').tagsinput({
        itemValue: 'value',
        itemText: 'text',
        typeahead: {
            source: function(query) {
                return $.getJSON('cities.json');
            }
        }
    });
});
</script>
{% endblock %}