{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Modicar Historia Clinica{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-fecha/pickmeup.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js-fecha/jquery.pickmeup.js' %}"></script>
{% endblock%}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/listaclinica">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/citas">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container grup-container">
        <div class="row">
            {% bootstrap_messages %}
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" method='POST' action=''>
                    {% csrf_token %}
                    <div class="col-xs-12">
                         <div class="col-xs-6 fondo-usuario img-rounded">
                            <h4 class="text-center titulosamarillo"><strong>DATOS PERSONALES</strong></h4>
                        
                            {% bootstrap_form formhistoria  layout="horizontal" %}
                            <input class="boton-guardar" type="submit" value="Guardar Datos">   
                        </div>
                        <div class="col-xs-6">
                            <img  class="tamano" src="{% static 'img/cayetano.jpg' %}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_end %}
    <script>
        $(function () {
            var input1= $('.fecha_bonita');
            input1.pickmeup({
                format  : 'Y-m-d',
                position: 'right',
                before_show: function(){
                    input1.pickmeup('set_date', input1.val(), true);
                },
                change: function(formated){
                input1.val(formated);
                }
            });
            var input2= $('.fecha_fur');
            input2.pickmeup({
                format  : 'Y-m-d',
                position: 'left',
                before_show: function(){
                    input2.pickmeup('set_date', input2.val(), true);
                },
                change: function(formated){
                input2.val(formated);
                }
            });
            var input3= $('.fecha_finfur');
            input3.pickmeup({
                format  : 'Y-m-d',
                position: 'left',
                before_show: function(){
                input3.pickmeup('set_date', input3.val(), true);
                },
                    change: function(formated){
                    input3.val(formated);
                }
            });
        });

        function desactivar_edadfur () {
            // body...
            if($("#id_null_edadfur").is(':checked')){
                $("#id_edadfur").attr("readonly","readonly");
            }
            else{
                $("#id_edadfur").removeAttr("readonly");
            }
        }
        function desactivar_ultimofur () {

            if($("#id_null_ultimofur").is(':checked')){
                $("#id_ultimofur").attr("readonly","readonly");
            }
            else{
                $("#id_ultimofur").removeAttr("readonly");
            }
        }
    </script>
{% endblock %}