{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Crear Nuevo Usuario{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-fecha/pickmeup.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js-fecha/jquery.pickmeup.js' %}"></script>
{% endblock%}

{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/historia">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/cita">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
<div class="container">
        
        <div class="row">
            {% bootstrap_messages %}
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" method='POST' action=''>
                    {% csrf_token %}
                    <div class="col-xs-12">
                        <h4><strong>DATOS PERSONALES</strong></h4>
                        <hr>
                        <div class="col-xs-6 col-xs-offset-1">
                            {% bootstrap_form formulario1  layout="horizontal" %}
                        </div>
                        <div class="col-xs-5">
                            {% bootstrap_form formulario2  layout="horizontal" %}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 col-xs-offset-1">
                            <h4><strong>PAQUETE DE EXAMENES</strong></h4>                            
                            <hr>
                            {% bootstrap_form paquetesform  layout="horizontal" %}                 
                        </div>
                        <div class="col-xs-5">
                            <h4><strong>COSTO DE EXAMENES</strong></h4>
                            <hr>
                            <div class="form-group">
                                <label  class="col-sm-4 control-label">MONTO S/.</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  placeholder="00.00" value='00.00' id='precio_total' name='precio_total'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 col-xs-offset-1">
                            <h4><strong>ANTECEDENTES PERSONALES</strong></h4>
                            <hr>
                            {% bootstrap_form antecedentesform  layout="horizontal" %}
                        </div>
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-2">
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="form-group navbar-center">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Guardar PAGO y DATOS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-11 col-xs-offset-1">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab">
                    {% for paquete in paquetes %}
                    <li id='li_{{ paquete.pk }}'><a href="#div_{{ paquete.pk }}" data-toggle="tab">{{ paquete.nombre }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for paquete in paquetes %}
                    <div class="tab-pane" id='div_{{ paquete.pk }}'>
                        <div class="row">
                            <h4><strong>{{ paquete.nombre }}</strong></h4>
                            <div id="contenido">
                                {% for examen in paquete.tiposexamen.all %}
                                <div class="col-xs-4 ">
                                    <h4>{{ examen.nombre }}:</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p>{{ examen.descripcion }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--
                <div class="row">
                    <h4 ><strong>IMPRESION DIAGNOSTICA</strong></h4>
                    <input type="text" class="form-control"  placeholder="Ingresa el diagnostico">
                    <br>
                    <input type="text" class="form-control"  placeholder="Ingresa el diagnostico">
                </div>

                <div class="row">
                    <h3><strong>RECOMENDACIONES</strong></h3>
                
                    <textarea class='form-control'></textarea>
                </div>

                <div class="row">
                    <h4 ><strong>Proxima cita</strong></h4>
                    
                        <input type="text" class="form-control"  placeholder="Lunes 12 de Noviemrbre del 2014">
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-1 col-xs-offset-10">
                            <button class='btn btn-primary '>Imprimir</button>
                        </div>
                        <div class="col-xs-1">
                            <button class='btn btn-danger '>cancelar</button>
                        </div>
                    </div>
                </div>
                -->
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_end %}
<script type="text/javascript">
    {% for paque in paquetes %}
    $('#li_{{paque.pk}}').hide();
    if($("input[value='{{paque.pk}}']").is(':checked')){
        $('#precio_total').val(parseFloat($('#precio_total').val())+ parseFloat({{ paque.precio_total }}));
    }
    {% endfor %}
    $("input[name='paquetes']").click(function() {
        var id_paquete = this.value;
        $.getJSON('/precio/paquete/'+id_paquete,function(data){
            $.each(data, function(index, paquete){
                var precio_add = parseFloat(paquete["precio"]);
                var precio_ant = parseFloat($('#precio_total').val());
                if($("input[value='"+id_paquete+"']").is(':checked')){
                    $('#precio_total').val(precio_ant + precio_add);
                    $('#li_'+id_paquete).show();
                }else{
                    $('#precio_total').val(precio_ant - precio_add);
                    $('#li_'+id_paquete).hide();
                }
            });
        });
    });
    
</script>
    <script>
        $(function () {
            var input= $('.fecha_bonita');
            input.pickmeup({
            format  : 'd/m/Y',
            position: 'right',
            before_show: function(){
            input.pickmeup('set_date', input.val(), true);
            },
            change: function(formated){
            input.val(formated);
            }
            });
            });
    </script>
    <script>
        $(function () {
            var input= $('.fecha_fur');
            input.pickmeup({
            format  : 'd/m/Y',
            position: 'right',
            before_show: function(){
            input.pickmeup('set_date', input.val(), true);
            },
            change: function(formated){
            input.val(formated);
            }
            });
            });
    </script><script>
        $(function () {
            var input= $('.fecha_finfur');
            input.pickmeup({
            format  : 'd/m/Y',
            position: 'right',
            before_show: function(){
            input.pickmeup('set_date', input.val(), true);
            },
            change: function(formated){
            input.val(formated);
            }
            });
            });
        function desactivar_edadfur () {
            // body...
            if($("#id_null_edadfur").is(':checked')){
                $("#id_edadfur").attr("readonly","readonly");
            }
            else{
                $("#id_edadfur").removeAttr("readonly");
            }
        }
        function desactivar_ultimofur () {

            if($("#id_null_ultimofur").is(':checked')){
                $("#id_ultimofur").attr("readonly","readonly");
            }
            else{
                $("#id_ultimofur").removeAttr("readonly");
            }
        }
    </script>

{% endblock %}

