{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Crear Nuevo Usuario{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/historia">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/cita">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container grup-container">
        <div class="row-fluid">
            <div class="col-xs-3 recomendacion">
                <h3 class="titulosamarillo">Registro de usuario</h3>
                <p>Esta parte nos permite agregar nuevos usuarios que manejaran el sistema</p>
            </div>
            <div class="col-xs-6 fondo-usuario img-rounded">
                {% bootstrap_messages %}
                <h3 class='text-center text-danger titulosamarillo'>
                    <strong>DATOS PERSONALES</strong>
                </h3>
                <form class="form-horizontal" role="form" action='' method='POST'>
                    {% csrf_token %}
                    {% bootstrap_form formulario_perfil  layout="horizontal" %}
                    <h3 class='text-center text-danger titulosamarillo'> <strong>GENERAR USUARIO</strong></h3>
                    {% bootstrap_form formulario layout="horizontal" %}
                    <div class="form-group navbar-center">
                    <div class="col-xs-offset-2 col-xs-10">
                      <button type="submit" class="btn btn-primary">Guardar Datos </button>
                    </div>
                  </div>
                </form>
        </div>
    </div>
{% endblock %}
{% block js_end %}
{% endblock %}