{% extends 'basehistoriaclinica.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block contenido %}
<div class="container">
    <div class="row">
        <form class="form-horizontal" role="form" method='POST' action=''>
            {% csrf_token %}
            {% bootstrap_form formulario  layout="horizontal" %}
            <hr>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    function actualizar_medicamentos()
    {
        var cadena='id_tipomedicamento';
        $.getJSON('/obtener/medicamentos/'+ 
                       document.getElementById(cadena).value,
                   function(data){ actualizar_combo_medicamentos(data); 
                                  });
    }
    //Actualiza el combo  con los datos obtenidos del ajax
    function actualizar_combo_medicamentos(data)
    {
        $('#id_medicamento').empty(); //elimino el cotenido actual del combo

        // agrego los tipos obtenidos por ajax
        $.each(data, function(index, medicamento){
          $('<option value="' + medicamento['id'] + '">' +
                                medicamento['nombre'] + '</option>')
          .appendTo('#id_medicamento')     
       });
    }
</script>
{% endblock%}