{% extends 'basehistoriaclinica.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block contenido %}
<div class="container">
    <div class="row">
        <form class="form-inline" role="form" method='POST' action=''>
            {% csrf_token %}
            <div class="col-xs-12">
                {% for elemento in form1%}
                    {{ elemento.label}} {{elemento}}
                {% endfor%}
            </div>
            <div class="col-xs-12">
                {% for elemento in form2%}
                    {{elemento.label}} {{elemento}}
                {% endfor%}
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
        <div class="col-md-12">
            <table class='table table-bordered '>
                <thead class='panel-color'>
                    <tr>
                        <th>Tipo</th>
                        <th>Medicamento</th>
                        <th>Cantidad</th>
                        <th>Dosis</th>
                        <th>Frecuencia</th>
                        <th>Duracion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tratamiento in tratamientos %}
                    <tr>
                        <td>{{ tratamiento.medicamento.clase }}</td>
                        <td>{{ tratamiento.medicamento }}</td>
                        <td>{{ tratamiento.cantidad }}</td>
                        <td>{{ tratamiento.cantidaddosis }}</td>
                        <td>{{ tratamiento.frecuencia }}</td>
                        <td>{{ tratamiento.duracion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class='add_tratamiento btn'>Cerrar</button>
    </div>
</div>
<script type="text/javascript">
    $('.add_tratamiento').click(function() {
        self.close();
    });
</script>
{% endblock%}