{% extends 'basehistoriaclinica.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block css %}
<style type="text/css">
    .form-inline .form-group input {
        width:140px;
    }
</style>
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row">
        <form class="form-inline" role="form" method='POST' action=''>
            {% csrf_token %}
            <div class="form-group">
                {% for elemento in form1%}
                    {{ elemento.label}} {{elemento}}
                {% endfor%}
            </div>
            <div class="form-group">
                {% for elemento in form2%}
                    {{elemento.label}} {{elemento}}
                {% endfor%}
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
        <div class="col-md-12">
            <table class='table table-bordered '>
                <thead class='panel-color'>
                    <tr>
                        <th>Tipo</th>
                        <th>Medicamento</th>
                        <th>Cantidad</th>
                        <th>Dosis</th>
                        <th>Frecuencia</th>
                        <th>Duracion</th>
                        <th>Posologia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tratamiento in tratamientos %}
                    <tr>
                        <td>{{ tratamiento.medicamento.clase }}</td>
                        <td>{{ tratamiento.medicamento }}</td>
                        <td>{{ tratamiento.cantidad }}</td>
                        <td>{{ tratamiento.cantidaddosis }}</td>
                        <td>{{ tratamiento.frecuencia }}</td>
                        <td>{{ tratamiento.duracion }}</td>
                        <td>{{ tratamiento.posologia }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class='add_tratamiento btn'>Cerrar</button>
    </div>
</div>
<script type="text/javascript">
    $('.add_tratamiento').click(function() {
        self.close();
    });
    function actualizar_medicamentos()
    {
        var cadena='id_tipomedicamento';
        $.getJSON('/obtener/medicamentos/'+ 
                       document.getElementById(cadena).value,
                   function(data){ actualizar_combo_medicamentos(data); 
                                  });
    }
    //Actualiza el combo  con los datos obtenidos del ajax
    function actualizar_combo_medicamentos(data)
    {
        $('#id_medicamento').empty(); //elimino el cotenido actual del combo

        // agrego los tipos obtenidos por ajax
        $.each(data, function(index, medicamento){
          $('<option value="' + medicamento['id'] + '">' +
                                medicamento['nombre'] + '</option>')
          .appendTo('#id_medicamento')     
       });
    }
$(document).ready(function(){
    $("#id_cantidaddosis").keypress(function() {
        texto = $("#id_cantidaddosis").val() + " " + $("#id_tipomedicamento option:selected").text() + " cada " + $("#id_frecuencia option:selected").text() + " durante " + $("#id_duracion").val() + " " + $("#id_tipoduracion option:selected").text();
        $("#id_posologia").val(texto);
    });
});
</script>
{% endblock%}