{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Crear Nuevo Usuario{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/historia">HISTORIA CLINICA</a></li>
            <li ><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/citas">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container grup-container">
        <div>
            <form id="searchform">
                <input type="text" placeholder="Buscar Paciente por DNI o NOMBRE" required>
                <button type="submit">Buscar</button>
            </form>
             
        </div>

        <div class="col-md-12">
            {% for receta in recetas %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <h3 class='text-center'>DNI: <strong>{{receta.paciente.dni}}</strong></h3>
                    <h4 class='text-center'><strong>{{ receta.paciente}}</strong></h4>
                    <div>
                        <button class="btn btn-primary btn-block" data-toggle="modal" id="diagnostico_button" value="{{receta.pk}}">Diagnostico</button>

                        

                        <button class="btn btn-primary btn-block" data-toggle="modal" id="tratamiento_button" value="{{receta.pk}}">Tratamiento</button>

                        


                        <button class="btn btn-primary btn-block" data-toggle="modal" id="modificar_button" value="{{receta.pk}}">Modificar</button>

                        
                        
                        
                        <button class="btn btn-primary btn-block" data-toggle="modal" id="imprimir_button" value="{{receta.pk}}">VER E IMPRIMIR</button>

                        
                        
                    </div>
                </div>  
            </div>
            {% endfor %}

        </div>            
    </div>

    <!--
<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

                          <div class="modal-dialog modal-lg">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4>Agrega o Selecciona un NUEVO DIAGNOSTICO</h4>
                                </div>
                                <div class="modal-body">
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <label>
                                                <input type="checkbox"> Medicamento N° 1 medicamento
                                        </label>
                                        <hr>
                                        <form class="form-search navbar-right" method="get" id="s" action="/">
                                            <div class="input-append">
                                                <input type="text" class="input-medium search-query" name="s" placeholder="Agregaa un nuevo diagnostico" value="">
                                                <button class='btn btn-success'type="submit" class="add-on"> + Nuevo Diagnostico</button>
                                            </div>
                                        </form>  
                                </div>
                                <hr>
                                <div class="modal-footer">
                                    <button class='btn btn-danger'>Guardar</button><button class='btn btn-danger'>Cancelar</button>
                                </div> 
                            </div>
                          </div>
                        </div>

<div class="modal tratamiento-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

                          <div class="modal-dialog modal-lg">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4>Selecciona en forma ordenada los medicamentos y tomas:</h4>
                                    <h3><strong>Diagnostico :</strong> Enfermedad pelvica de oakhfiusdijsdu</h3>
                                </div>
                                <div class="modal-body">
                                        <div class="row">
                                            
                                            <div class="col-md-12">
                                                    
                                                <div class="col-md-2">
                                                    <h5 class="text-center">TIPO DE MEDICAMENTO</h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>tabletas</option>
                                                        <option>ovulos</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h5 class="text-center">MEDICAMENTO</h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                    </select>   
                                                </div>
                                                    
                                                    
                                                <div class="col-md-2">
                                                    <h5 class="text-center">CANTIDAD</h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-cantidad">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                        
                                            </div>
                                            <br><br><br>
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <h5 class="text-center">DOSIS</h5>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <select class="form-control selec-dosis">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h5 class="text-center">FRECUENCIA</h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-frecuencia">
                                                        <option>12 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-1">
                                                    <h5 class="text-center">DURANTE</h5>
                                                </div>
                                                <div class="col-md-1">
                                                    <select class="form-control selec-durante">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-durante1">
                                                        <option>diaz</option>
                                                        <option>semanas</option>
                                                        <option>mes</option>
                                                    </select>   
                                                </div>  
                                            </div>
                                            <br><br><br><br>
                                            <div class="col-md-12">
                                                <table class='table table-bordered '>
                                                    <thead class='panel-color'>
                                                        <tr>
                                                            <th>Tipo</th>
                                                            <th>Medicamento</th>
                                                            <th>Cantidad</th>
                                                            <th>Dosis</th>
                                                            <th>Frecuencia</th>
                                                            <th>Duracion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>tabletas</td>
                                                            <td>dicoclaxi</td>
                                                            <td>12</td>
                                                            <td>3</td>
                                                            <td>4 horas</td>
                                                            <td>1 dia</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="modal-footer">
                                    <button class='btn btn-danger'>Agregar</button><button class='btn btn-danger'>guardar</button>
                                </div> 
                            </div>
                          </div>
                        </div>

<div class="modal modificar-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

                          <div class="modal-dialog modal-lg">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4>Selecciona en forma ordenada los medicamentos y tomas:</h4>
                                </div>
                                <div class="modal-body">
                                        <h3>Modificar Diagnostico</h3>
                                        <form class="form-search" method="get" id="s" action="/">
                                            <div class="input-append">
                                                <input type="text" class="input-medium btn-block search-query" name="s" placeholder="problemas de onijasbvbasidbvusa" value="">
                                                
                                            </div>
                                        </form>
                                        <br><br>
                                        <h3>Modificar Tratamiento</h3>
                                        <h3 class='text-center'>MEDICAMENTO 1</h3>
                                        <div class="row-fluid">
                                            
                                            <div class="col-md-12">
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Tipo </h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>tabletas</option>
                                                        <option>ovulos</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Medicamento</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                    </select>   
                                                </div>
                                                    
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">cantidad</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-cantidad">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                        
                                            </div>
                                            <br><br><br>
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Dosis</h4>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <select class="form-control selec-dosis">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Frecuencia</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-frecuencia">
                                                        <option>12 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-1">
                                                    <h4 class="text-center">Durante</h4>
                                                </div>
                                                <div class="col-md-1">
                                                    <select class="form-control selec-durante">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-durante1">
                                                        <option>diaz</option>
                                                        <option>semanas</option>
                                                        <option>mes</option>
                                                    </select>   
                                                </div>
                                                    
                                                    
                                            </div>
                                            <br><br>
                                        </div>
                                        <hr>
                                        <h3 class='text-center'>MEDICAMENTO 2</h3>
                                        <div class="row-fluid">
                                            
                                            <div class="col-md-12">
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Tipo </h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>tabletas</option>
                                                        <option>ovulos</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Medicamento</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                    </select>   
                                                </div>
                                                    
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">cantidad</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-cantidad">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                        
                                            </div>
                                            <br><br><br>
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Dosis</h4>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <select class="form-control selec-dosis">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Frecuencia</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-frecuencia">
                                                        <option>12 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-1">
                                                    <h4 class="text-center">Durante</h4>
                                                </div>
                                                <div class="col-md-1">
                                                    <select class="form-control selec-durante">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-durante1">
                                                        <option>diaz</option>
                                                        <option>semanas</option>
                                                        <option>mes</option>
                                                    </select>   
                                                </div>
                                                    
                                                    
                                            </div>
                                            <br><br>
                                        </div>
                                        <hr>
                                        <h3 class='text-center'>MEDICAMENTO 3</h3>
                                        <div class="row-fluid">
                                            
                                            <div class="col-md-12">
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Tipo </h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>tabletas</option>
                                                        <option>ovulos</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                        <option>tabletas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Medicamento</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control ">
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                        <option>dicloxacilina</option>
                                                    </select>   
                                                </div>
                                                    
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">cantidad</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-cantidad">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                        
                                            </div>
                                            <br><br><br>
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Dosis</h4>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <select class="form-control selec-dosis">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-2">
                                                    <h4 class="text-center">Frecuencia</h4>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-frecuencia">
                                                        <option>12 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                        <option>5 horas</option>
                                                    </select>   
                                                </div>
                                                    
                                                <div class="col-md-1">
                                                    <h4 class="text-center">Durante</h4>
                                                </div>
                                                <div class="col-md-1">
                                                    <select class="form-control selec-durante">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control selec-durante1">
                                                        <option>diaz</option>
                                                        <option>semanas</option>
                                                        <option>mes</option>
                                                    </select>   
                                                </div>
                                                    
                                                    
                                            </div>
                                            <br><br>
                                        </div>
                                        
                                </div>
                                <div class="modal-footer">
                                    <button class='btn btn-danger'>Guardar</button><button class='btn btn-danger'>Cancelar</button>
                                </div> 
                            </div>
                          </div>
                        </div>
<div class="modal imprimir-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

                          <div class="modal-dialog modal-lg">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <h6>NOMBRES Y APELLIDOS : Julia Muños Cardenas</h6>
                                                <h6>EDAD : 34</h6>
                                                <h5><strong>DIAGNOSTICO : ENFERMEDAD PELVICA INFLAMATORIA / VULVOVAGINITIS</strong></h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class='text-right'>HISTORIA CLINICA : 34562</h5>
                                                <h5 class='text-right'>FECHA : 12 Noviembre 2014</h5>
                                            </div>
                                        </div>  
                                    </div>
                                    
                                    <table class='table table-bordered table-striped'>
                                        <thead class="panel panel-color">
                                            <tr>
                                                <th>TRATAMIENTO</th>
                                                <th>CANTIDAD</th>
                                                <th class='text-center'>POSOLOGIA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>MICANAZOL 100mg + TINIDAZOL 150mg</strong> <br>FAMIDAL</td>
                                                <td> <br>07 capsulas</td>
                                                <td class='text-right'> Tomar 1 comprimido despues del desayuno por 07 dias</td>
                                            </tr>
                                            <tr>
                                                <td><strong>MICANAZOL 100mg + TINIDAZOL 150mg</strong> <br>FAMIDAL</td>
                                                <td> <br>07 capsulas</td>
                                                <td class='text-right'> Tomar 1 comprimido despues del desayuno por 07 dias</td>
                                            </tr>
                                            <tr>
                                                <td><strong>MICANAZOL 100mg + TINIDAZOL 150mg</strong> <br>FAMIDAL</td>
                                                <td> <br>07 capsulas</td>
                                                <td class='text-right'> Tomar 1 comprimido despues del desayuno por 07 dias</td>
                                            </tr>
                                            <tr>
                                                <td><strong>MICANAZOL 100mg + TINIDAZOL 150mg</strong> <br>FAMIDAL</td>
                                                <td> <br>07 capsulas</td>
                                                <td class='text-right'> Tomar 1 comprimido despues del desayuno por 07 dias</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    <br><br><br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                            <div class="col-md-3 col-md-offset-3">
                                                
                                            </div>
                                            
                                            <div class="col-md-4 col-md-offset-2">
                                                <h5><strong>Proxima Cita</strong>: 12 de Abril 2014</h5>
                                            </div>
                                            

                                            
                                        </div>  
                                    </div>
                                        
                                </div>
                            </div>
                          </div>
                        </div>

-->
{% endblock %}
{% block js_end %}
<script type="text/javascript">
    $("#diagnostico_button").click(function() {
        url_popup = "/administrador/receta/diagnostico/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Diagnostico",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
    $("#tratamiento_button").click(function() {
        url_popup = "/administrador/receta/tratamiento/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Tratamiento",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
    $("#modificar_button").click(function() {
        url_popup = "/administrador/receta/modificar/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Modificar",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
    $("#imprimir_button").click(function() {
        url_popup = "/administrador/receta/imprimir/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Imprimir",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
</script>
{% endblock %}