{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Adminstrador - Crear Nuevo Usuario{% endblock %}
{% block css %}
{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administrador/">SISTEMA DE RECETAS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/administrador/usuario">NUEVO USUARIO</a></li>
            <li ><a href="/administrador/paciente">NUEVO PACIENTE</a></li>
            <li ><a href="/administrador/examen">NUEVO EXAMEN</a></li>
            <li ><a href="/administrador/listaclinica">HISTORIA CLINICA</a></li>
            <li class='active'><a href="/administrador/receta">RECETAS</b></a></li>
            <li ><a href="/administrador/caja">CAJA</b></a></li>
            <li ><a href="/administrador/citas">CITAS</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block contenido %}
    <div class="container grup-container">
        <div>
            <form id="searchform">
                <input type="text" placeholder="Buscar Paciente por DNI o NOMBRE" required>
                <button type="submit">Buscar</button>
            </form>
             
        </div>

        <div class="col-md-12">
            
            <div class="col-md-12">
                <table class='table table-bordered table-striped table-hover'>
                    <thead class='panel panel-color'>
                        <tr>
                            <th class="texto-sombra texto-blanco">DNI</th>
                            <th class="texto-sombra texto-blanco">PACIENTE</th>
                            <th class="texto-sombra texto-blanco">DIAGNOSTICO</th>
                            <th class="texto-sombra texto-blanco">TRATAMIENTO</th>
                            <th class="texto-sombra texto-blanco">MODIFICAR</th>
                            <th class="texto-sombra texto-blanco">IMPRIMIR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receta in recetas %}
                            <tr>
                                <td>{{receta.paciente.dni}}</td>
                                <td>{{ receta.paciente}}</td>

                                <td><button class="btn boton-verde btn-block diagnostico_button" data-toggle="modal" id="diagnostico_button" value="{{receta.pk}}">Diagnostico</button></td>
                                <td> <button class="btn boton-rojo btn-block tratamiento_button" data-toggle="modal" id="tratamiento_button" value="{{receta.pk}}">Tratamiento</button></td>
                                <td> <button class="btn  boton-orange  btn-block modificar_button" data-toggle="modal" id="modificar_button" value="{{receta.pk}}">Modificar</button></td>
                                <td><button class="btn boton-azul btn-block imprimir_button" data-toggle="modal" id="imprimir_button" value="{{receta.pk}}">VER E IMPRIMIR</button></td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

        </div>            
    </div>
{% endblock %}
{% block js_end %}
<script type="text/javascript">
    $(".diagnostico_button").click(function() {
        url_popup = "/administrador/receta/diagnostico/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Diagnostico",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
    $(".tratamiento_button").click(function() {
        url_popup = "/administrador/receta/tratamiento/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Tratamiento",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
    $(".modificar_button").click(function() {
        url_popup = "/administrador/receta/modificar/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Modificar",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
    $(".imprimir_button").click(function() {
        url_popup = "/administrador/receta/imprimir/" + this.value;
        ventana_diagnostico = window.open(url_popup,"Imprimir",'height=500,width=800,resizable=yes,scrollbars=yes');
        ventana_diagnostico.focus();
    });
</script>
{% endblock %}