body{
  background-image: url(../img/body.jpg) !important;
}

.grup-container{
	background: rgba(0, 0, 0, 0.53);
	border-radius: 12px;
	padding-top: 12px;
	margin-top: 25px;
	padding: 20px;

}
.navbar-default{
	border: solid 0px !important;
	background: rgba(21,173,7,1)!important;
	background: -moz-linear-gradient(top, rgba(21,173,7,1) 0%, rgba(18,61,2,1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(21,173,7,1)), color-stop(100%, rgba(18,61,2,1)))!important;
	background: -webkit-linear-gradient(top, rgba(21,173,7,1) 0%, rgba(18,61,2,1) 100%)!important;
	background: -o-linear-gradient(top, rgba(21,173,7,1) 0%, rgba(18,61,2,1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(21,173,7,1) 0%, rgba(18,61,2,1) 100%)!important;
	background: linear-gradient(to bottom, rgba(21,173,7,1) 0%, rgba(18,61,2,1) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ad07', endColorstr='#123d02', GradientType=0 ) !important;
}
.navbar-default .navbar-nav > li > a {
	color: #FFFFFF !important;
	font-weight: 900 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #FFE000;
background-color: rgba(100, 165, 97, 0.94) !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #E3EC79 !important;
background-color: rgba(100, 165, 97, 0.94) !important;
}
.navbar-default .navbar-brand {
	color: #FAE15D !important;
	font-weight: 900 !important;
}
.titulosamarillo{
	color: rgba(255, 255, 0, 0.77) !important;
}
.texto-blanco{
	color: white !important;
}

.for-color{
	color: white;
	font-size: 16px;
	font-family: sans-border: solid 0px;serif;
}

.usuario-titulo{
	color: rgb(89, 175, 21) !important;
}
.boton-guardar{
	background: rgb(0, 172, 0);
	width: 223px;
	height: 50px;
	border-radius: 12px;
	border: solid 5px rgba(255, 255, 255, 0.91);
	font-weight: 900;
	color: white;
}

.boton-guardar:hover{
	background: rgb(6, 204, 6);
}
.datos-establ{
	color: rgb(255, 214, 0);
	font-size: 16px;
}
.titulo-examen{
	color: rgb(2, 245, 50) !important;
}

.table tbody{
	background: white !important;
}
.form-group label{
	font-size: 17px !important;
	color: rgb(200, 205, 213)!important;
}
}
.boton-imprimir{
	background: orange;
	width: 223px;
	height: 50px;
	border-radius: 12px;
	border: solid 5px rgba(255, 255, 255, 0.91);
	font-weight: 900;
	color: white;
}
.boton-imprimir:hover{
	background: rgb(233, 119, 15)
}

.texto-sombra{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1)
}

.fondo-usuario {
background-color: rgba(8, 10, 9, 0.63) !important;
}
.recomendacion{
	padding: 12px;
background: rgb(21, 66, 3);
border-radius: 12px;
border: 4px solid #fff;
text-align: center;
margin: 0px 8px;
color: white;
}
.panel-color{
	background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}

.tamano{
	width: 540px;
	height: 686px;
	border-radius: 12px;
}

.monto-total{
	background: #608B00;	
	color: white;
	font-weight: 900;
	letter-spacing: 15px;
}

.boton-imprimir{
	background: rgb(200, 216, 18);
	border: 3px solid rgba(255, 255, 255, 0.91);
	letter-spacing: 3px;
	color: rgb(9, 97, 9);
	font-weight: 900;
	border-radius: 50px;
	width: 150px;
	height: 52px;
	padding: 14px;
}

.boton-imprimir:hover{
	background: rgb(18, 146, 0);
	border: 3px solid rgba(77, 207, 83, 0.71) !important;
	border-radius: 14px !important;
	color: white;
	font-weight: 900 !important;
	}

.boton-verde{
	background: rgb(18, 146, 0);
	border: 3px solid rgba(77, 207, 83, 0.71) !important;
	border-radius: 14px !important;
	color: white;
	font-weight: 900 !important;
}
.boton-rojo{
	background: rgb(167, 36, 3);
	border: 3px solid rgba(255, 187, 187, 0.71) !important;
	border-radius: 14px !important;
	color: white;
	font-weight: 900 !important;

}
.boton-orange{
	background: rgb(241, 157, 3);
	border: 3px solid rgba(255, 234, 202, 0.71) !important;
	border-radius: 14px !important;
	color: white;
	font-weight: 900 !important;
}
.boton-azul{
background: rgb(19, 162, 110);
border: 3px solid rgba(224, 255, 239, 0.71) !important;
	border-radius: 14px !important;
	color: white;
	font-weight: 900 !important;
}

.boton-verde:hover{
	border-radius: 10px !important;
	color: white !important;
	font-weight: 300 !important;
}
.boton-rojo:hover{
	border-radius: 10px !important;
	color: white !important;
	font-weight: 300 !important;
}

.boton-orange:hover{
	border-radius: 10px !important;
	color: white !important;
	font-weight: 300 !important;
}
.boton-azul:hover{
	border-radius: 10px !important;
	color: white !important;
	font-weight: 300 !important;
}
.imagen-egreso{
	max-width: 100%;
	min-height: 80%;

}